COVID-19.json
[{"id":"a5fe1716.26a788","type":"tab","label":"Data In Numbers","disabled":false,"info":""},{"id":"f72a6a13.75f418","type":"tab","label":"Data In Words","disabled":false,"info":""},{"id":"c7209754.6a9808","type":"ui_tab","z":"","name":"Data In Numbers","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a591610.db1a1a","type":"ui_group","z":"","name":"COVID-19 Data #s","tab":"c7209754.6a9808","order":1,"disp":true,"width":"20","collapse":false},{"id":"b4448f2d.43b94","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"75b0ff1e.487c8","type":"http request","z":"a5fe1716.26a788","name":"Request Data From A State At A Certain Point","method":"GET","ret":"obj","paytoqs":true,"url":"https://covidtracking.com/api/v1/states/{{{state}}}/{{{date}}}.json","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":80,"wires":[["95093dd4.6c528"]]},{"id":"d1b6bb01.b4fc78","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".totalTestResultsIncrease","complete":"complete","prop":"payload","name":"","x":790,"y":60,"wires":[["c48784c1.3e9e48"]]},{"id":"c48784c1.3e9e48","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":60,"wires":[["bd3dd6a6.1fa908","facf9486.df21f8"]]},{"id":"70ecd4cc.4ad66c","type":"ui_form","z":"a5fe1716.26a788","name":"","label":"","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"options":[{"label":"Select Date","value":"date","type":"date","required":true,"rows":null},{"label":"State","value":"state","type":"text","required":true,"rows":null}],"formValue":{"date":"","state":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":20,"wires":[["c234793e.bc1c18"]]},{"id":"c234793e.bc1c18","type":"function","z":"a5fe1716.26a788","name":"Format Data","func":"var str = msg.payload[\"date\"];\nvar dt = str.substring(0, 10).replace(/-/g,\"\");\nvar str2 = String(msg.payload[\"state\"]);\nvar st = str2.toUpperCase();\nmsg.payload = null;\nmsg.date = dt;\nmsg.state = st;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":20,"wires":[["75b0ff1e.487c8"]]},{"id":"bd3dd6a6.1fa908","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Tests That Day: ","format":"{{msg.payload}}","layout":"row-spread","x":1160,"y":60,"wires":[]},{"id":"95093dd4.6c528","type":"switch","z":"a5fe1716.26a788","name":"check status","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"404","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":80,"wires":[["9831a928.32a3a8","d1b6bb01.b4fc78","c184a208.c10f1","c28210b2.81622","bbdcd62e.12f528","d1893664.faf578","58ce7ea5.ef8ce","b86d4e2e.79041","2d6fafb5.c9caf","ef0eb50a.e29f38"],["c4ee15d9.f0e708"]]},{"id":"c4ee15d9.f0e708","type":"function","z":"a5fe1716.26a788","name":"Error Message","func":"msg.payload = \"No data!\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":440,"wires":[["bd3dd6a6.1fa908","9aaac64a.534c98","6aef550e.60fc3c","facf9486.df21f8"]]},{"id":"facf9486.df21f8","type":"link out","z":"a5fe1716.26a788","name":"dailyTests","links":["6e447a8e.405964"],"x":1295,"y":60,"wires":[]},{"id":"9aaac64a.534c98","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":3,"width":0,"height":0,"name":"","label":"Total Tests Until That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1120,"y":20,"wires":[]},{"id":"9831a928.32a3a8","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".total","complete":"complete","prop":"payload","name":"","x":730,"y":20,"wires":[["51052720.645af8"]]},{"id":"51052720.645af8","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":890,"y":20,"wires":[["9aaac64a.534c98","6aef550e.60fc3c"]]},{"id":"6aef550e.60fc3c","type":"link out","z":"a5fe1716.26a788","name":"totalTestsTillThatPoint","links":["fd93ebc7.7ce308"],"x":1295,"y":20,"wires":[]},{"id":"c184a208.c10f1","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".hospitalizedCurrently","complete":"complete","prop":"payload","name":"","x":780,"y":100,"wires":[["c49576d1.ee5788"]]},{"id":"c49576d1.ee5788","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":100,"wires":[["ea2f5fde.92e41","718cf0be.fc10b"]]},{"id":"ea2f5fde.92e41","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Active Hospitalizations At That Time: ","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":100,"wires":[]},{"id":"718cf0be.fc10b","type":"link out","z":"a5fe1716.26a788","name":"hospitalizedAtThatDate","links":["5639b469.c1763c"],"x":1415,"y":100,"wires":[]},{"id":"c28210b2.81622","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".hospitalized","complete":"complete","prop":"payload","name":"","x":750,"y":140,"wires":[["7b7c6991.6a23e8"]]},{"id":"7b7c6991.6a23e8","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":140,"wires":[["b6493a1f.b7f678","1b72d3ad.745a4c"]]},{"id":"b6493a1f.b7f678","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Hospitalized At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":140,"wires":[]},{"id":"1b72d3ad.745a4c","type":"link out","z":"a5fe1716.26a788","name":"hospitalizedUntilThatDate","links":["6aab8147.fd25b"],"x":1355,"y":140,"wires":[]},{"id":"bbdcd62e.12f528","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".positive","complete":"complete","prop":"payload","name":"","x":740,"y":180,"wires":[["e5367e8b.4b206"]]},{"id":"e5367e8b.4b206","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":180,"wires":[["c593080d.ed3ca8","267c70f2.0771c","4e22ffce.aeb6b"]]},{"id":"c593080d.ed3ca8","type":"link out","z":"a5fe1716.26a788","name":"positiveCasesUntilThen","links":["b4193a86.40de68"],"x":1375,"y":180,"wires":[]},{"id":"d1893664.faf578","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".negative","complete":"complete","prop":"payload","name":"","x":740,"y":220,"wires":[["18555e19.867f32"]]},{"id":"18555e19.867f32","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":220,"wires":[["61565751.b36128","2a75baa7.c2a926"]]},{"id":"61565751.b36128","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Negative Cases At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":220,"wires":[]},{"id":"2a75baa7.c2a926","type":"link out","z":"a5fe1716.26a788","name":"negativeCasesUntilThen","links":["a590291b.dde988"],"x":1375,"y":220,"wires":[]},{"id":"58ce7ea5.ef8ce","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".recovered","complete":"complete","prop":"payload","name":"","x":750,"y":260,"wires":[["cfdd0ff3.42699"]]},{"id":"cfdd0ff3.42699","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":260,"wires":[["e9e06efd.fcc7b","3a23c239.033c5e","e7019f7b.686de"]]},{"id":"e9e06efd.fcc7b","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Recovered At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":260,"wires":[]},{"id":"3a23c239.033c5e","type":"link out","z":"a5fe1716.26a788","name":"recovered","links":["cdf4c5b9.2dc8c8"],"x":1335,"y":260,"wires":[]},{"id":"267c70f2.0771c","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Positive Cases At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":180,"wires":[]},{"id":"4e22ffce.aeb6b","type":"change","z":"a5fe1716.26a788","name":"","rules":[{"t":"set","p":"firstSubtract","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":440,"wires":[["1845b52.4d5a34b"]]},{"id":"e7019f7b.686de","type":"change","z":"a5fe1716.26a788","name":"","rules":[{"t":"set","p":"secondSubtract","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":480,"wires":[["1845b52.4d5a34b"]]},{"id":"1845b52.4d5a34b","type":"function","z":"a5fe1716.26a788","name":"Subtract","func":"\nreturn {payload:(flow.get('firstSubtract')-flow.get('secondSubtract'))};","outputs":1,"noerr":0,"x":1240,"y":440,"wires":[["b387e2a2.6856d","57ffd6ae.2dde28"]]},{"id":"b387e2a2.6856d","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Active Cases At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":460,"wires":[]},{"id":"57ffd6ae.2dde28","type":"link out","z":"a5fe1716.26a788","name":"activeCasesAtThatPoint","links":["275eca9f.4cc5a6"],"x":1615,"y":400,"wires":[]},{"id":"6e447a8e.405964","type":"link in","z":"f72a6a13.75f418","name":"","links":["facf9486.df21f8"],"x":175,"y":200,"wires":[["4f477385.d5adac"]]},{"id":"fd93ebc7.7ce308","type":"link in","z":"f72a6a13.75f418","name":"","links":["6aef550e.60fc3c"],"x":175,"y":240,"wires":[["4e599f4.22a146"]]},{"id":"5639b469.c1763c","type":"link in","z":"f72a6a13.75f418","name":"","links":["718cf0be.fc10b"],"x":175,"y":280,"wires":[["26fbc83c.4f4548"]]},{"id":"6aab8147.fd25b","type":"link in","z":"f72a6a13.75f418","name":"","links":["1b72d3ad.745a4c"],"x":175,"y":320,"wires":[["f2914fd7.ad3df"]]},{"id":"b4193a86.40de68","type":"link in","z":"f72a6a13.75f418","name":"","links":["c593080d.ed3ca8"],"x":175,"y":360,"wires":[["ea0cba7c.e2a278"]]},{"id":"a590291b.dde988","type":"link in","z":"f72a6a13.75f418","name":"","links":["2a75baa7.c2a926","3b50b9f1.a93796"],"x":175,"y":400,"wires":[["a8aea960.bdf2c8"]]},{"id":"cdf4c5b9.2dc8c8","type":"link in","z":"f72a6a13.75f418","name":"","links":["3a23c239.033c5e"],"x":175,"y":440,"wires":[["8724398b.84f398"]]},{"id":"275eca9f.4cc5a6","type":"link in","z":"f72a6a13.75f418","name":"","links":["57ffd6ae.2dde28"],"x":175,"y":480,"wires":[["75736d38.f29cd4"]]},{"id":"4f477385.d5adac","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"dailyTests","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["a7c22a2c.aedc38"]]},{"id":"4e599f4.22a146","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"totalTestsTillThatPoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["a7c22a2c.aedc38"]]},{"id":"26fbc83c.4f4548","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"hospitalizedAtThatDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["a7c22a2c.aedc38"]]},{"id":"f2914fd7.ad3df","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"hospitalizedUntilThatDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":320,"wires":[["a7c22a2c.aedc38"]]},{"id":"ea0cba7c.e2a278","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"positiveCasesUntilThen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":360,"wires":[["a7c22a2c.aedc38"]]},{"id":"a8aea960.bdf2c8","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"negativeCasesUntilThen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["a7c22a2c.aedc38"]]},{"id":"8724398b.84f398","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"recovered","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":440,"wires":[["a7c22a2c.aedc38"]]},{"id":"75736d38.f29cd4","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"activeCasesAtThatPoint","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":480,"wires":[["a7c22a2c.aedc38"]]},{"id":"a7c22a2c.aedc38","type":"function","z":"f72a6a13.75f418","name":"Create Summary","func":"var dailyTests = String(flow.get('dailyTests'));\nvar totalTestsTillThatPoint = String(flow.get('totalTestsTillThatPoint'));\nvar hospitalizedAtThatDate = String(flow.get('hospitalizedAtThatDate'));\nvar hospitalizedUntilThatDate = String(flow.get('hospitalizedUntilThatDate'));\nvar positiveCasesUntilThen = String(flow.get('positiveCasesUntilThen'));\nvar negativeCasesUntilThen = String(flow.get('negativeCasesUntilThen'));\nvar recovered = String(flow.get('recovered'));\nvar activeCasesAtThatPoint = String(flow.get('activeCasesAtThatPoint'));\nvar dead = String(flow.get('dead'));\nvar formattedDate = String(flow.get('formattedDate'));\nvar st = String(flow.get('stateChosen'));\n\nvar summ = st + \" on \" + formattedDate + \" has (or had) tested \" + dailyTests + \" people. \" + st + \n\" has also tested \" + totalTestsTillThatPoint + \" up until \" + formattedDate + \n\". At this point, there have been \" + positiveCasesUntilThen + \" who have tested positive, and \" + negativeCasesUntilThen + \n\" who have tested negative. \" + recovered + \" of the \" + positiveCasesUntilThen + \" people who were sick have reovered.  That leaves \" + \nactiveCasesAtThatPoint + \" people currently sick on (or were sick on) \" + formattedDate + \". \" + hospitalizedUntilThatDate + \n\" people have been in the hospital since \" + formattedDate + \". There are now \" + hospitalizedAtThatDate + \" people currently in the hospital. Sadly, \" + dead +\n\" people have died.\";\n\nreturn {payload:(summ)};","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["e10b9ab.e4fd568"]]},{"id":"b86d4e2e.79041","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".death","complete":"complete","prop":"payload","name":"","x":730,"y":300,"wires":[["8285bbc5.3284f8"]]},{"id":"8285bbc5.3284f8","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":300,"wires":[["e62b0db9.a19ef","e49bc100.85ee6"]]},{"id":"e62b0db9.a19ef","type":"ui_text","z":"a5fe1716.26a788","group":"1a591610.db1a1a","order":2,"width":0,"height":0,"name":"","label":"Dead At That Point: ","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":300,"wires":[]},{"id":"e49bc100.85ee6","type":"link out","z":"a5fe1716.26a788","name":"dead","links":["c095bf09.e65e2"],"x":1335,"y":300,"wires":[]},{"id":"c095bf09.e65e2","type":"link in","z":"f72a6a13.75f418","name":"","links":["e49bc100.85ee6"],"x":175,"y":520,"wires":[["6a6f8453.80dc0c"]]},{"id":"6a6f8453.80dc0c","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"dead","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":520,"wires":[["a7c22a2c.aedc38"]]},{"id":"f14cd51b.efb038","type":"link in","z":"f72a6a13.75f418","name":"","links":["919af594.490508"],"x":175,"y":560,"wires":[["be85bd56.04bc"]]},{"id":"be85bd56.04bc","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"stateChosen","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["a7c22a2c.aedc38"]]},{"id":"2d6fafb5.c9caf","type":"trigger","z":"a5fe1716.26a788","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":760,"y":340,"wires":[["f91360b3.997fc"]]},{"id":"f91360b3.997fc","type":"function","z":"a5fe1716.26a788","name":"Format A Date","func":"var s = new Date(msg.payload).toLocaleDateString(\"en-US\")\nmsg.payload = s;\nreturn msg;\n","outputs":1,"noerr":0,"x":1020,"y":340,"wires":[["5b8f4527.b5c12c"]]},{"id":"5b8f4527.b5c12c","type":"link out","z":"a5fe1716.26a788","name":"formattedDate","links":["7de0bfee.ec486"],"x":1335,"y":340,"wires":[]},{"id":"7de0bfee.ec486","type":"link in","z":"f72a6a13.75f418","name":"","links":["5b8f4527.b5c12c"],"x":175,"y":160,"wires":[["c2887737.a49948"]]},{"id":"c2887737.a49948","type":"change","z":"f72a6a13.75f418","name":"","rules":[{"t":"set","p":"formattedDate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["a7c22a2c.aedc38"]]},{"id":"e10b9ab.e4fd568","type":"ui_text","z":"f72a6a13.75f418","group":"1a591610.db1a1a","order":10,"width":"0","height":"0","name":"","label":"Summary: ","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":340,"wires":[]},{"id":"ef0eb50a.e29f38","type":"contrib-json","z":"a5fe1716.26a788","engine":"JSONSelect","command":"jq","expr":".state","complete":"complete","prop":"payload","name":"","x":730,"y":380,"wires":[["da2310e0.7fddd"]]},{"id":"da2310e0.7fddd","type":"split","z":"a5fe1716.26a788","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":380,"wires":[["919af594.490508"]]},{"id":"919af594.490508","type":"link out","z":"a5fe1716.26a788","name":"stateChosen","links":["f14cd51b.efb038"],"x":1335,"y":380,"wires":[]}]